@model IEnumerable<Attendence.Models.Data.Report>

@{
    ViewData["Title"] = "Report";
}
<div class="row m-5">
    <h1 class="text-center">Student Report</h1>
    <form method="post">
        <div class="text-center top-50">
        <input type="date" name="Date" value="" />
        <input type="submit" value="Get Report" />
        </div>
    </form>
    </div>
    @if (Model != null)
    {
        <div class="container p-10">
            <div class="row text-center m-10" >
                <table class="table-bordered">
                    <thed>
                        <tr>
                            <th>Sr. no</th>
                            <th>Student Id</th>
                            <th>Student Name</th>
                            <th>Date</th>
                        </tr>

                    </thed>
                    <tbody>
                        @{
                            int i = 0;
                        }
                        @foreach (var item in Model)
              {
                 <tr>
                  <td>@(i=i+1)</td>
                  <td>@item.StudentId</td>
                  <td>@item.StudentName</td>              
                  <td>@item.Date</td>
              </tr>
             
              }
              
          </tbody>
             </table> 
            
            </div>
            </div>
       
    }
    